{  
   "dash_button":"xx:xx:xx:xx:xx:xx",
   "sms":{  
      "region":"us",
      "message":"Someone is here!"
   },
   "users":[  
      {  
         "phone":0000000000,
         "mac":"xx:xx:xx:xx:xx:xx",
         "name":"Mighty Pi",
         "present":"false"
      }
   ]
}